.event-list-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  width: 300px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.event-card h2 {
  margin-bottom: 10px;
}

.event-date {
  font-weight: bold;
  color: #888;
}

.event-description {
  margin-top: 10px;
}

.edit-button, .delete-button {
  background-color: #4CAF50; /* Green button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
  margin-right: 10px;
}

.edit-button:hover, .delete-button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}